<%= form_for(@salary_slip) do |f| %>
  <% if @salary_slip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary_slip.errors.count, "error") %> prohibited this salary_slip from being saved:</h2>

      <ul>
      <% @salary_slip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gross_salary %><br />
    <%= f.text_field :gross_salary %>
  </div>
  <div class="field">
    <%= f.label :deduction %><br />
    <%= f.text_field :deduction %>
  </div>
  <div class="field">
    <%= f.label :net_salary %><br />
    <%= f.text_field :net_salary %>
  </div>
  <div class="field">
    <%= f.label :employee_detail_id %><br />
    <%= f.number_field :employee_detail_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
