<h1>Listing Leave Applications</h1>
<%= @leaveapplication.prashant %><br/>
 <% if EmployeeDetail.find(current_user.id).join_date == nil %>
       <%= render :partial => 'errortype' %>
   <% else %>
   <b>Total Day:</b><%= @leaveapplication.total_day%><br/>
   <b>Casual Leave:</b><%= @leaveapplication.casual_leave.to_i %><br/>
   <b>Priviledge Levae</b> :<%#= @leaveapplication.previlige_leave%><br/>
   <b>Join Date:</b><%= EmployeeDetail.find(current_user.id).join_date.strftime("%d/%m/%Y") %><br/>
       
<!-- <b>Total Days:</b> <%#=364 - EmployeeDetail.find(current_user.id).join_date.yday + Time.now.yday %></br> -->

<table>
  <tr>
    <!-- <th>Name</th> -->
   <!--  <th>Subject</th> -->
    <th>Leavetype</th>
    <th>From</th>
    <th>To</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

<% @leaveapplications.each do |leaveapplication| %>
  <tr>
    <!-- <td><%= leaveapplication.name %></td> -->
    <!-- <td><%= leaveapplication.subject %></td> -->
   <!--  <td><%= leaveapplication.description %></td> -->
  <!--  <th><%#= @leaveapplication.casual_leave %></th>
  <th><%#= @leaveapplication.previlege_leave %></th> -->
    <td><%= leaveapplication.leavetype %></td>
    <td><%= leaveapplication.from.strftime("%d/%m/%y") %></td>
    <td><%= leaveapplication.to.strftime("%d/%m/%y") %></td>
    <td><%= leaveapplication.comment %></td>
    <td><%= link_to 'Show', leaveapplication %></td>
    
  </tr
<% end %>
</table>

<br />
<button id="test">Apply for leave </button>

<div id="abc">
   <%= render :partial => 'form' %>
</div>
<% end %>
<style>
#abc 
{ 
  display:none;
}
</style>
<script>
$(document).ready(function(){
  $("#test").click(function(){
    $("#abc").show();
     });
    });
</script>