<h1>Listing Leave Applications</h1>
<table>
  <tr>
    <!-- <th>Name</th> -->
    <th>Subject</th>
    <th>Leavetype</th>
    <th>From</th>
    <th>To</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

<% @leaveapplications.each do |leaveapplication| %>
  <tr>
    <!-- <td><%= leaveapplication.name %></td> -->
    <td><%= leaveapplication.subject %></td>
   <!--  <td><%= leaveapplication.description %></td> -->
    <td><%= leaveapplication.leavetype %></td>
    <td><%= leaveapplication.from.strftime("%d/%m/%y") %></td>
    <td><%= leaveapplication.to.strftime("%d/%m/%y") %></td>
    <td><%= leaveapplication.comment %></td>
    <td><%= link_to 'Show', leaveapplication %>
    <%= link_to 'Edit', edit_leaveapplication_path(leaveapplication) %>
    <%= link_to 'Destroy', leaveapplication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Leaveapplication', new_leaveapplication_path %>
