<h1>Listing Leave Applications</h1>
<b>Time: </b><%= @leaveapplication.prashant %><br/>
 <% if EmployeeDetail.find(current_user.id).join_date == nil %>
       <%= render :partial => 'errortype' %>
   <% else %>
   <% a = EmployeeDetail.find(current_user.id).join_date %>
   <b>Join Date:</b><%= a.strftime("%Y/%m/%d") %><br/>
   <b>Total Day:</b><% if a.strftime("%y") == Time.now.strftime("%y") %>
                       <%= a.yday %>
                       <% elsif Time.now.strftime("%y").to_i-a.strftime("%y").to_i == 1 %>
                         <%= Time.now.yday + 365 - a.yday %>
                        <% else %>
                         <%=  365*(Time.now.strftime("%y").to_i- a.strftime("%y").to_i-1) + (Time.now.yday + 365 - a.yday)%>
                         <% end %><br/>
   <b>Casual Leave:</b> <% if Time.now.strftime("%y").to_i == a.strftime("%y").to_i %>
                              <% if a.strftime("%d") > 15 %>
                                <%= (Time.now.strftime("%m").to_i - a.strftime("%m").to_i)-1 %>
                              <% else %>
                                <%= Time.now.strftime("%m").to_i - a.strftime("%m").to_i %>
                                <% end %>
                          <% else %>
                          <%= Time.now.strftime("%m").to_i %>
                          <% end %><br/>
   <b>Priviledge Levae</b> :<% if Time.now.strftime("%y").to_i == a.strftime("%y").to_i %>
                               <% if a.strftime("%d").to_i > 14 %>
                                  <%= Time.now.strftime("%m").to_i- a.strftime("%m").to_i %>
                               <% else %>
                                  <%= (Time.now.strftime("%m").to_i- a.strftime("%m").to_i )-1 %>
                               <% end %>
                            <% else %> 
                              <%= Time.now.strftime("%m").to_i %>
                            <% end %>     
   
        
<!-- <b>Total Days:</b> <%#=364 - EmployeeDetail.find(current_user.id).join_date.yday + Time.now.yday %></br> -->

<table>
  <tr>
    <!-- <th>Name</th> -->
   <!--  <th>Subject</th> -->
    <th>Leavetype</th>
    <th>From</th>
    <th>To</th>
    <th>Status</th>
    <th>Comment</th>
    <th>Actions</th>
  </tr>

<% @leaveapplications.each do |leaveapplication| %>
  <tr>
    <!-- <td><%= leaveapplication.name %></td> -->
    <!-- <td><%= leaveapplication.subject %></td> -->
   <!--  <td><%= leaveapplication.description %></td> -->
  <!--  <th><%#= @leaveapplication.casual_leave %></th>
  <th><%#= @leaveapplication.previlege_leave %></th> -->
    <td><%= leaveapplication.leavetype %></td>
    <td><%= leaveapplication.from.strftime("%d/%m/%y") %></td>
    <td><%= leaveapplication.to.strftime("%d/%m/%y") %></td>
    <td><%= leaveapplication.comment %></td>
    <td><%= leaveapplication.commentonleave %></td>
    <td><%= link_to 'Show', leaveapplication %></td>
    
  </tr
<% end %>
</table>

<br />
<button id="test">Apply for leave </button>

<div id="abc">
   <%= render :partial => 'form' %>
</div>
<% end %>

<script>
$(document).ready(function(){
  $("#test").click(function(){
    $("#abc").show();
     });
    });
</script>