<h1>Listing Leave Applications</h1>
<b>Time: </b><%= @leaveapplication.prashant %><br/>
 <% if EmployeeDetail.find(current_user.id).join_date == nil %>
       <%= render :partial => 'errortype' %>
   <% else %>
   <b>Joining Date:</b><%= join_date.strftime("%Y/%m/%d") %><br/>
 <!--  <b>Total Days:</b><%#= total_day %><br/> -->
   <b>Casual Leave:</b> <%= casual_leave %><br/>
   <b>Priviledge Leave: </b><%= priviledge_leave %><br/> 
   <b>Total Leave: </b><%= total_leave %>
<table>
  <tr>
    <th>Leave Type</th>
    <th>From</th>
    <th>To</th>
    <th>Status</th>
    <th>Comment</th>
    <th>Actions</th>
  </tr>

<% @leaveapplications.each do |leaveapplication| %>
  <tr>
    <!-- <td><%= leaveapplication.name %></td> -->
    <!-- <td><%= leaveapplication.subject %></td> -->
   <!--  <td><%= leaveapplication.description %></td> -->
  <!--  <th><%#= @leaveapplication.casual_leave %></th>
  <th><%#= @leaveapplication.previlege_leave %></th> -->
    <td><%= leaveapplication.leavetype %></td>
    <td><%= leaveapplication.from.strftime("%d/%m/%y") %></td>
    <td><%= leaveapplication.to.strftime("%d/%m/%y") %></td>
    <td><%= leaveapplication.comment %></td>
    <td><%= leaveapplication.commentonleave %></td>
    <td><%= link_to 'Show', leaveapplication %></td>
    
  </tr
<% end %>
</table>

<br />
<button id="test">Apply for leave </button>

<div id="abc">
   <%= render :partial => 'form' %>
</div>
<% end %>

<script>
$(document).ready(function(){
  $("#test").click(function(){
    $("#abc").show();
     });
    });
</script>