Notifier#sending_request

Hi,
<%= @leaveapplication.name %>
is sending a leave requests. 
<%= @leaveapplication.subject%>
<%= @leaveapplication.description %>
from <%= @leaveapplication.from %> to <%= @leaveapplication.to %>
Please click on following link

<a href=http://localhost:3000/admin>Clik On It</a>
<% link_to "http://www.example.com" do
   <strong>Link_to_active</strong> %>