Notifier#sending_request

Hi  ,
Mr.<%= @leaveapplication.name %> has sent a leave request. 
Reason- <%= @leaveapplication.subject%>
Emergency contact number- <%= @leaveapplication.description %>
from <%= @leaveapplication.from %> to <%= @leaveapplication.to %>.


Thank You,
<a href=http://dry-brushlands-2732.herokuapp.com/admin>Clik On It</a>
