
Hi  ,<br/>
Mr.<%= @leaveapplication.name %> has sent a leave request.<br/> 
Reason- <%= @leaveapplication.subject%><br/>
Emergency contact number- <%= @leaveapplication.description %><br/>
from <%= @leaveapplication.from %> to <%= @leaveapplication.to %><br/>

<p><%= link_to "Click On It", admin_leaveapplications_url %></p>
Thank You,

	